.CHatbot_container{
    position: fixed;
    right: 20px;
    bottom: 80px;
    /* height: 200px; */
    width: 25%;
    /* box-shadow: 2px 0px 20px 4px #9E9E9E;; */
    background: white;
    border-radius: 10px;
    z-index: 999;
    /* background-color: red; */
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
.chatbot_cross{
    position: absolute;
    box-shadow: 2px 0px 20px 4px #9E9E9E;;
    background: white;
    right: -10px;
    top: -10px;
    width: 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 50%;
}
.chatobt_inputs{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
align-items: center;

}
.email_input{
    height: 50px;
    width: 90%;
    border: 1px solid gray;
    padding: 0px 10px;
    outline: none;
    /* margin:20px  auto; */
     margin-top: 30px;
}
.chatobt_textarea{
    height: 100px;  
    width: 90%;
    border: 1px solid gray;
    padding: 0px 10px;
    outline: none;
    /* margin: auto; */
    /* margin: 50px 0px; */
    margin-top: 20px;
}
.chatbot_button{
    background: blue;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
   padding: 10px 15px;
   font-size: 18px;
   margin: 15px 0px;
   cursor: pointer;
}
.ChatbOT_OPEN{
    position: fixed;
    right: 20px;
    bottom: 80px;
    height: 40px;
    width: 40PX;
    /* background: white; */
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .ChatbOT_OPEN{
        height: 50px;
        width: 50px;
    }
    .CHatbot_container{
        width: 80%;
    }
}